Repository Team-CLUE/headfirst_design_pattern, pull requests merged in 2022-08, with the labels that each got.

#13 ✨ Feature/setup window
  .github/workflows/pull-request.yaml
  Makefile
  README.md
  hooks/install.sh
  setup/WINDOW_SETUP.md
  setup/init_window.py
  setup/install-dependency.sh
  setup/setup-window.sh
Labels: size/L, feature

#11 docs) add contributer
  README.md
Labels: docs, size/S

#8 Feature/monitoring app
  src/monitoring_app/displays.py
  src/monitoring_app/interfaces.py
  src/monitoring_app/monitor_test.py
  src/monitoring_app/weatherdata.py
  src/monitoring_app/weatherstation.py
Labels: feature, size/XL
