Repository Team-CLUE/headfirst_design_pattern, pull requests merged in 2022-09, with the labels that each got.

#18 🐛 Bugfix/update pep440
  .github/workflows/python.yaml
  .pre-commit-config.yaml
  Makefile
  env-setup/setup/WINDOW_SETUP.md
  env-setup/setup/init_window.py
  env-setup/setup/install-dependency.sh
  env-setup/setup/setup-window.sh
  pyproject.toml
  requirements.txt
  setup.cfg
  setup.py
  tests/ducksimulator_test/ducksimulator_test.py
  tests/monitoring_app/monitor_test.py
Labels: size/L, bugfix

#17 Docs/duck simulator
  setup.py
  test/duck_simul_test.py
Labels: size/M, docs

#15 feature/chane weatherdata class normal to singleton type
  src/monitoring_app/weatherdata.py
  tests/monitoring_app/monitor_test.py
Labels: feature, size/S

#21 enhance/labeler Allow capital letter in branch name
  .github/labeler.yml
Labels: enh, size/S
